@import "tailwindcss";

:root {
  --background-secondary: rgb(73, 73, 73);
  --background: #222222;
  --foreground: rgba(213, 213, 213, 1);
  --accent: rgba(255, 235, 70, 1);
  --accent-secondary: rgba(213, 213, 213, 0.3);
  --hero-url: url("https://ucwo2izryqq2mgwr.public.blob.vercel-storage.com/hero-image-rezNoJF3ly77k2MljqQmEl5bSzwuHz.png");
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-secondary: var(--accent-secondary);
  --font-inter: var(--font-inter);
  --font-mansalva: var(--font-mansalva);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--background);
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 9999px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-bebas), Helvetica, sans-serif;
}

h2 {
  @apply font-semibold text-4xl md:text-6xl;
}

a {
  @apply transition-colors duration-500 text-foreground;
}

a:hover {
  @apply text-accent;
}

a,
button {
  @apply cursor-pointer;
}

a.button-lookalike.primary,
button.primary {
  @apply rounded bg-accent text-black py-2 px-4 md:py-3 md:px-6 w-fit transition-colors duration-300 md:text-xl lg:text-2xl font-medium;
}

a.button-lookalike:hover.primary,
button:hover.primary {
  @apply rounded bg-background text-accent outline-1 outline-accent outline-solid;
}

input {
  @apply h-12;
}

input,
textarea {
  @apply outline-accent-secondary outline-2 p-2 rounded max-w-full;
}

input:focus,
input:-webkit-autofill:focus,
textarea:focus,
textarea:-webkit-autofill:focus {
  @apply outline-accent outline-2 p-2 rounded;
}

.hero {
  background-image: var(--hero-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.handwritten {
  font-family: var(--font-mansalva), Helvetica, sans-serif;
}
